<app-left-navbar></app-left-navbar>
<div class="loading-spinner" *ngIf="loading">
  <div></div>
  <div></div>
  <div></div>
  <div></div>
</div>
<div class="machine-learning-data-container" *ngIf="!loading">
    <div class="btn-container">
        <button class="machine-learning-button" (click)="toggleCPUPage()" [class.btn-activated]="cpuPageActive">CPU Dataset </button>
        <button class="machine-learning-button"  (click)="toggleGPUPage()" [class.btn-activated]="gpuPageActive">GPU Dataset </button>
        <button class="machine-learning-button" (click)="toggleConsolePage()" [class.btn-activated]="consolePageActive">Consoles Dataset </button>
    </div>
    <div class="main-content" *ngIf="cpuPageActive">
         <div *ngIf="!displayGraphCPU">
            <img src="../../../assets/svg_icons/cpu.svg" class="section-img"/>
            <h1>CPU dataset</h1>
        </div> 
        <button class="perform-ml-btn" *ngIf="boughtDataSet && !performMachineLearningCalledCPU" (click)="handlePerformMachineLearningCPU()">Make prediction! <img src="../../../assets/svg_icons/deep-learning.png" class="btn-icon-ml"></button>  
        <div *ngIf="boughtDataSet && performMachineLearningCalledCPU">
          <div *ngIf="!displayGraphCPU">
            <table>
              <tr>
                <th *ngFor="let cpu_table_header of cpu_data_headers">{{cpu_table_header}}</th>
              </tr>
              <tr *ngFor="let cpu_table_line of cpu_data">
                    <td>{{cpu_table_line[0]}}</td>
                    <td *ngFor="let data of cpu_table_line.slice(1)">{{data | number:'1.2-2' }}</td>
              </tr>
            </table>
          </div>
          
    <div class="graph-container" class="graph-container" *ngIf="displayGraphCPU">
       <canvas baseChart
        [data]="barChartData"
        [options]="barChartOptions"
        [plugins]="barChartPlugins"
        [legend]="barChartLegend"
        [type]="'bar'">
    </canvas>
    <button class="display-graph-btn" (click)="toggleDisplayGraphCPU()">Display table</button> 
    </div>      
   

        </div> 

    </div>


    <div class="main-content" *ngIf="gpuPageActive">
      <div>
         <img src="../../../assets/svg_icons/graphics-card-svgrepo-com.svg" class="section-img"/>
         <h1>GPU dataset</h1>
     </div> 
     <p class="info-text" *ngIf="!boughtDataSet">You have to purchase this dataset in order to perform machine learning!</p>
     <p class="info-text" *ngIf="!boughtDataSet">Please head to view page in order to buy this dataset!</p>  
     <button class="perform-ml-btn" *ngIf="boughtDataSet && !performMachineLearningCalledGPU" (click)="handlePerformMachineLearningGPU()">Make prediction! <img src="../../../assets/svg_icons/deep-learning.png" class="btn-icon-ml"></button> 
     <div *ngIf="boughtDataSet && performMachineLearningCalledGPU">
       <div *ngIf="!displayGraphGPU">
        <table>
          <tr>
            <th *ngFor="let gpu of gpu_data_headers">{{gpu}}</th>
          </tr>
         <tr *ngFor="let gpu_elem of gpu_data">
            <td>{{gpu_elem[0]}}</td>
            <td *ngFor="let gpu_inst of gpu_elem.slice(1)">{{gpu_inst | number : '1.2-2'}}</td>
         </tr>  
        </table>
       </div>
           
     </div> 
    </div>
    <div class="main-content"  *ngIf="consolePageActive">
      <div>
         <img src="../../../assets/svg_icons/console-joystick-gaming-svgrepo-com.svg" class="section-img"/>
         <h1>Consoles dataset</h1>
     </div> 
     <p class="info-text" *ngIf="!boughtDataSet">You have to purchase this dataset in order to perform machine learning!</p>
     <p class="info-text" *ngIf="!boughtDataSet">Please head to view page in order to buy this dataset!</p>  
     <button class="perform-ml-btn" *ngIf="boughtDataSet && !performMachineLearningCalledConsoles" (click)="handlePerformMachineLearningConsoles()">Make prediction!  <img src="../../../assets/svg_icons/deep-learning.png" class="btn-icon-ml"></button> 
     <div *ngIf="boughtDataSet && performMachineLearningCalledConsoles">
       <div *ngIf="!displayGraphConsoles">
        <table>
          <tr>
            <th *ngFor="let console of consoles_data_headers">{{console}}</th>
          </tr>
         <tr *ngFor="let console_elem of consoles_data">
            <td>{{console_elem[0]}}</td>
            <td *ngFor="let console_inst of console_elem.slice(1)">{{console_inst }}</td>
         </tr>  
        </table>
       </div>
       
     </div> 
</div>