.graph-container{
    margin-left:350px;
}

.buttons-container{
    margin:auto;
    margin-top: 20px;
    padding:20px;
    margin-left: 150px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 80%;
    margin-bottom: 20px;
}


.toggle-section-btn{
    padding:10px;
    background-color: black;
    color: #fff;
    border:none;
    border-radius: 10px;
    font-size: 1.1rem;
    // font-weight: bold;
}

.section-title{
    font-size: 1.4rem;
    font-weight: bold;
}

 .current{
     background-color: #fff;
     color:#000;
     font-weight: bold;
}


.loading-spinner {
    display: inline-block;
    position: absolute;
    left: 50vw;
    width: 64px;
    height: 64px;
  }
  
  .loading-spinner div {
    position: absolute;
    top: 28px;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background: #555;
    animation-timing-function: cubic-bezier(0, 1, 1, 0);
  }
  
  .loading-spinner div:nth-child(1) {
    left: 6px;
    animation: loading-spinner-l1 0.6s infinite;
  }
  
  .loading-spinner div:nth-child(2) {
    left: 6px;
    animation: loading-spinner-l2 0.6s infinite;
  }
  
  .loading-spinner div:nth-child(3) {
    left: 26px;
    animation: loading-spinner-l2 0.6s infinite;
  }
  
  .loading-spinner div:nth-child(4) {
    left: 45px;
    animation: loading-spinner-l3 0.6s infinite;
  }
  
  @keyframes loading-spinner-l1 {
    0% {
      transform: scale(0);
    }
    100% {
      transform: scale(1);
    }
  }
  
  @keyframes loading-spinner-l2 {
    0% {
      transform: translate(0, 0);
    }
    100% {
      transform: translate(20px, 0);
    }
  }
  
  @keyframes loading-spinner-l3 {
    0% {
      transform: scale(1);
    }
    100% {
      transform: scale(0);
    }
  }