.graph-container{
    margin-left:350px;
}

.buttons-container{
    margin:auto;
    margin-top: 20px;
    padding:20px;
    margin-left: 150px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 80%;
    margin-bottom: 20px;
}


.toggle-section-btn{
    padding:10px;
    background-color: black;
    color: #fff;
    border:none;
    border-radius: 10px;
    font-size: 1.1rem;
    // font-weight: bold;
}

.section-title{
    font-size: 1.4rem;
    font-weight: bold;
}

 .current{
     background-color: #fff;
     color:#000;
     font-weight: bold;
}