<app-left-navbar></app-left-navbar>

<div class="buttons-container">
    <button class="toggle-section-btn" [ngClass]="{'current':btnClicked === 1}" (click)="toggleChange(1)">See most expensive data</button>
    <button class="toggle-section-btn" [ngClass]="{'current':btnClicked === 2}" (click)="toggleChange(2)">See most transactioned data</button>
</div>
<div class="loading-spinner" *ngIf="loading">
    <div></div>
    <div></div>
    <div></div>
    <div></div>
  </div>
  <div>
    Loading
  </div>
<div class="graph-container" *ngIf="btnClicked === 1 && !loading ">
    <div>
        <p class="section-title">The most expensive datasets</p>
    </div>

    <canvas baseChart
        [data]="barChartData"
        [options]="barChartOptions"
        [plugins]="barChartPlugins"
        [legend]="barChartLegend"
        [type]="'bar'">
    </canvas>
    
</div>

<div class="graph-container" *ngIf="btnClicked === 2 && !loading">
    <div>
        <p class="section-title">The most transactioned datasets</p>
    </div>

    <canvas baseChart
        [data]="barCharDataTransaction"
        [options]="barChartOptions"
        [plugins]="barChartPlugins"
        [legend]="barChartLegend"
        [type]="'bar'">
    </canvas>
   
</div>
