h1 {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0%);
}

:root {
  --background-gradient: linear-gradient(30deg, #f39c12 30%, #f1c40f);
  --gray: #34495e;
  --darkgray: #2c3e50;
}

select {
  /* Reset Select */
  appearance: none;
  outline: 0;
  border: 1px solid black;
  box-shadow: none;
  /* Personalize */
  flex: 1;
  padding: 0 1em;
  color: black;
  background-color: var(--bg-color);
  background-image: none;
  cursor: pointer;
}
/* Remove IE arrow */
select::-ms-expand {
  display: none;
}
/* Custom Select wrapper */
.select {
  position: absolute;
  display: flex;
  width: 20em;
  height: 3em;
  border-radius: .25em;
  overflow: hidden;
  left: 80vw;
  top: 100px;
}
/* Arrow */
.select::after {
  content: '\25BC';
  position: absolute;
  top: 0;
  right: 0;
  padding: 1em;
  background-color: #34495e;
  transition: .25s all ease;
  pointer-events: none;
}
/* Transition */
.select:hover::after {
  color: #f39c12;
}

  table {
    max-width: 80vw;
    max-height: 1000px;
    overflow-x: scroll;
    border-collapse: collapse;
    display: block;
  }

  table tr {
    border-collapse: collapse;
    max-height: 1% !important;
    overflow: hidden;
  }

  table td{
    max-height: 10px !important;
    border-collapse:collapse;
    overflow: hidden;
    width: 15px;
    padding: 15px;
    border: 1px solid #000;
    text-align: center;
    font-size: 17px;
  }

  table th{
    padding: 10px;
    font-size: 17px;
    max-height: 10px;
    width: 15px;
    padding: 15px;
    border: 1px solid #000;
    text-align: center;  
  }

  .tb {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .mat-paginator-navigation {
    margin-top: 30px;
  }
  .mat-paginator-navigation button {
    margin: 0 5px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 2px;
    color: #333;
    cursor: pointer;
    font-size: 14px;
    padding: 5px 10px;
    transition: all 0.3s ease-in-out;
  }
  
  .mat-paginator-navigation button:hover {
    background-color: #eee;
  }
  
  .mat-paginator-navigation button[disabled] {
    background-color: #eee;
    border: none;
    color: #999;
    cursor: not-allowed;
  }

  .loading-spinner {
    display: inline-block;
    position: absolute;
    left: 90vw;
    width: 64px;
    height: 64px;
  }
  
  .loading-spinner div {
    position: absolute;
    top: 28px;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background: #555;
    animation-timing-function: cubic-bezier(0, 1, 1, 0);
  }
  
  .loading-spinner div:nth-child(1) {
    left: 6px;
    animation: loading-spinner-l1 0.6s infinite;
  }
  
  .loading-spinner div:nth-child(2) {
    left: 6px;
    animation: loading-spinner-l2 0.6s infinite;
  }
  
  .loading-spinner div:nth-child(3) {
    left: 26px;
    animation: loading-spinner-l2 0.6s infinite;
  }
  
  .loading-spinner div:nth-child(4) {
    left: 45px;
    animation: loading-spinner-l3 0.6s infinite;
  }
  
  @keyframes loading-spinner-l1 {
    0% {
      transform: scale(0);
    }
    100% {
      transform: scale(1);
    }
  }
  
  @keyframes loading-spinner-l2 {
    0% {
      transform: translate(0, 0);
    }
    100% {
      transform: translate(20px, 0);
    }
  }
  
  @keyframes loading-spinner-l3 {
    0% {
      transform: scale(1);
    }
    100% {
      transform: scale(0);
    }
  }