<app-left-navbar></app-left-navbar>

<div class="loading-spinner" *ngIf="loading">
    <div></div>
    <div></div>
    <div></div>
    <div></div>
  </div>


<div class="tb" *ngIf="!loading">
  <h1>{{ datasetName }}</h1>
  <div class="table-container">
    
    <table id = 'tabel'>
      <thead>
        <tr>
          <th *ngFor="let column of columns">{{ column }}</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let row of slicedData">
          <td *ngFor="let i of row">{{i}}</td>
        </tr>
      </tbody>
    </table>
    <div class="mat-paginator-navigation">
      <button (click)="goToPreviousPage()" [disabled]="currentPage === 0"> << </button>
      <button (click)="goToNextPage()" [disabled]="currentPage === size || (((rows.length / pageSize) - 1) < 0)"> >> </button>
    </div>
    
    </div>
    <div class="btns">
      <button class="buy" [disabled]="buy" *ngIf="!loading" (click)="buy_dataset()">Buy</button>
      <select [(ngModel)]="selectedValue" *ngIf="buy && !loading">
        <option value="json">JSON</option>
        <option value="json-ld">JSON-LD</option>
        <option value="csv">CSV</option>
      </select>
      <button class="download" *ngIf="buy && !loading" (click)="downlaod_data()">Download Dataset</button>
    </div>
    
    
</div>
