<link rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


<div class="row">
    <div class="col-md-6">
<div class="sign_in_pannel">
    <div class="logo">
        <img src="assets/logo_desktop_black.png" alt="Logo">
        <h5>IESC - Agora</h5>
        <h6>Turning data into value</h6>
    </div> 

    <h1>Welcome to IESC-Agora</h1>
    <h3>Create an account</h3>
    
    <form class="FormCustom" [formGroup]="form">
        <label for="username">Email</label>
        <div class="input-icons">
            <input class="input-field" type="email" id="email" formControlName="email">
            <img src="assets/icons/@.svg">
        </div>
        <div class="err-msg" *ngIf="form.get('email')?.invalid  &&  form.get('email')?.touched">Please provide a valid email address</div>
        <label for="username">Username</label>
        <div class="input-icons">
            <input class="input-field" type="username" id="username" formControlName="username">
            <img src="assets/icons/username.svg">
        </div>
        <div class="err-msg" *ngIf="form.get('username')?.invalid  &&  form.get('username')?.touched">Username cannot be empty</div>
        <div *ngIf="form.get('username')?.hasError('minlength')" class="err-msg">
            Username should be at least 3 characters long
          </div>
        <label for="password">Password</label>
        <div class="input-icons">
            <input class="input-field" type="password" id="password" formControlName="password">
            <img src="assets/icons/visibility_on.svg" id="visibility_off" (click)="toggleVisibilityOn()">
            <img src="assets/icons/visibility_off.svg" id="visibility_on" (click)="toggleVisibilityOff()">
        </div>
        <div *ngIf="form.get('password')?.hasError('minlength')" class="err-msg">
            Password should be at least 6 characters long
          </div>
     
        <div class="err-msg" *ngIf="form.get('password')?.touched && form.get('password')?.invalid">Password cannot be empty</div>
        <div class="bsgn" style="text-align: center;">
<!--         <div style="text-align: center;"> -->
        <button class="btn btn-default" [disabled]="form.invalid" (click)="signUp()" >Sign Up</button>
        </div>
        <div class="su" id="sgn">Already have an account? <a href="/sign-in">  Sign in</a></div>
    </form>   
   </div>
  </div>
 </div>