<div class="col-md-6">
    <div class="sign_in_pannel">

      <!-- Hide the logo, heading, and tagline when the screen size is small -->
      <style>
        @media (max-width: 975px) {
          .logo,
          .logo img,
          .logo h1,
          .logo h4 {
            display: none;
          }
        }
      </style>

      <h1>Create an account</h1>

      <form class="FormCustom" [formGroup]="form">
        <label for="username" style="color:var(--white)">Email</label>
        <div class="input-icons">
          <input class="input-field" type="email" id="email" formControlName="email">
          <img src="assets/icons/@.svg">
        </div>
        <div class="err-msg" *ngIf="form.get('email')?.invalid  &&  form.get('email')?.touched">Please provide a valid email address</div>
        <label for="username" style="color:var(--white)">Username</label>
        <div class="input-icons">
          <input class="input-field" type="username" id="username" formControlName="username">
          <img src="assets/icons/username.svg">
        </div>
        <div class="err-msg" *ngIf="form.get('username')?.invalid  &&  form.get('username')?.touched">Username cannot be empty</div>
        <div *ngIf="form.get('username')?.hasError('minlength')" class="err-msg">
          Username should be at least 3 characters long
        </div>
        <label for="password" style="color:var(--white)">Password</label>
        <div class="input-icons">
          <input class="input-field" type="password" id="password" formControlName="password">
          <img src="assets/icons/visibility_on.svg" id="visibility_off" (click)="toggleVisibilityOn()">
          <img src="assets/icons/visibility_off.svg" id="visibility_on" (click)="toggleVisibilityOff()">
        </div>
        <div *ngIf="form.get('password')?.hasError('minlength')" class="err-msg">
          Password should be at least 6 characters long
        </div>

        <div class="err-msg" *ngIf="form.get('password')?.touched && form.get('password')?.invalid">Password cannot be empty</div>
        <div class="su"><input type="checkbox" name="remember_me" id="remember_me"> <label for="remember_me" style="color:var(--white)">Remember me</label></div>
        <div style="text-align: center;">
          <button class="btn btn-default" [disabled]="form.invalid" (click)="signUp()" style="color:var(--white)">Sign Up</button>
        </div>
      </form>   
    </div>
  </div>
  <section class="signup">
<link rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


<div class="row">
  <div class="col-md-6">
    <div class="logo">
      <img src="assets/logo_desktop_black.png" alt="Logo" style="margin-bottom:5px;" id="agora-logo">
      <h1 class="text-uppercase">IESC - Agora</h1>
      <h4>Turning data into value</h4>
    </div> 
  </div>

</div>
</section>