<div class="recommended-card">
    <p class="recommended-title">Recommended</p>
    <div class="recommended-item-container">
        <div class="recommended-item">Cancer</div>
        <div class="recommended-item">Air Pollution</div>
        <div class="recommended-item">Lungs</div>
        <div class="recommended-item">Heart</div>
        <div class="recommended-item">Games</div>
        <div class="recommended-item">Technology</div>
        <div class="recommended-item">Diabetes</div>
    </div>
</div>