<link rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


<div class="row">
    <div class="col-md-6">
<div class="sign_in_pannel">
    <div class="logo">
        <img src="assets/logo_desktop_black.png" alt="Logo">
        <h5>IESC - Agora</h5>
        <h6>Turning data into value</h6>
    </div> 

    <h1>Welcome to IESC-Agora</h1>
    <h3>Welcome back! Please enter your details.</h3>
    
    <form class="FormCustom" [formGroup]="form">
        <label for="username">Email</label>
        <div class="input-icons">
            <input class="input-field" type="email" id="username" formControlName="username">
            <img src="assets/icons/username.svg">
        </div>
        <div class="err-msg" *ngIf="form.get('email')?.touched && form.get('email')?.invalid">Email should be not empty</div>
        <label for="password">Password</label>
        <div class="input-icons">
            <input class="input-field" type="password" id="password" formControlName="password">
            <img src="assets/icons/visibility_on.svg" id="visibility_off" (click)="toggleVisibilityOn()">
            <img src="assets/icons/visibility_off.svg" id="visibility_on" (click)="toggleVisibilityOff()">
        </div>
        <div class="err-msg" *ngIf="form.get('password')?.touched && form.get('password')?.invalid">Password cannot be empty</div>
        <div style="text-align: center;">
        <button class="btn btn-default" [disabled]="form.invalid" (click)="signin()">Sign In</button>
        </div>
    </form>
    

    <div class="su" id="sgn">Don't have an account? <a href="/sign-up">  Sign up</a></div>
</div>
</div>
</div>
    