<app-left-navbar></app-left-navbar>
<div class="loading-spinner" *ngIf="loading">
    <div></div>
    <div></div>
    <div></div>
    <div></div>
  </div>
<div class="content-profile" *ngIf="!loading">
    <img id="usr_img" src="assets/icons/username.svg">
    <h2>User:</h2>
    <div class="usr_data"><span>{{username}}</span></div>

    <h2>E-mail:</h2>
    <div class="usr_data"><span>{{email}}</span></div>

    <h2>Password:</h2>
    <div class="usr_data"><span>&bull;&bull;&bull;&bull;&bull;&bull;&bull;&bull;&bull;&bull;</span></div>
    <a class="change_pass" href="javascript:void(0)" (click)="updatePassword()">Click here to change your password</a>

    <h2>Transactions history:</h2>
    <table>
        <thead>
            <tr>
                <th>Purchased From</th>
                <th>Price</th>
                <th>Date</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let row of rows">
              <td *ngFor="let i of row">{{i}}</td>
            </tr>
        </tbody>
    </table>

    <button><a href="javascript:void(0)" class="delete_account" (click)="deleteAccount()">Delete account</a></button>
</div>