<app-left-navbar></app-left-navbar>

<div class="content-profile">
    <img id="usr_img" src="assets/icons/username.svg">
    <h2>User:</h2>
    <span>{{username}}</span>

    <h2>E-mail:</h2>
    <span>{{email}}</span>

    <h2>Password:</h2>
    <span>&bull;&bull;&bull;&bull;&bull;&bull;&bull;&bull;&bull;&bull;</span>
    <a href="javascript:void(0)" (click)="updatePassword()">Click here to change your password</a>

    <h2>Transactions history:</h2>
    <table>
        <thead>
            <tr>
                <th>Purchased From</th>
                <th>Price</th>
                <th>Date</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let row of rows">
              <td *ngFor="let i of row">{{i}}</td>
            </tr>
        </tbody>
    </table>

    <a href="javascript:void(0)" class="delete_account" (click)="deleteAccount()">Delete account</a>
</div>