<section class="home d-flex align-items-center">
  <div class="container-fluid">
    <div class="row ps-lg-5">
      <div
        style="
          background-image: url('assets/icons/agora.png');
        "
        class="col-4 square d-none d-lg-block"
      ></div>
      <div
        class="col-lg-8 d-flex align-items-center flex-column flex-lg-row mb-5"
      >
        <img
          class="img-fluid d-sm-block d-lg-none mobile-img"
          id="agora-logo"
          src="assets/logo_desktop_black.png"
          alt="profile"
        />
        <div class="content">
          <h1 class="text-uppercase">
            IESC - AGORA <br />
            <span>Turning data into value.</span>
          </h1>
        </div>
      </div>
    </div>
  </div>
  <div class="color d-lg-block d-none"></div>
</section>
