<app-left-navbar></app-left-navbar>
<div class="container">
    <h1>Scopul Platformei</h1>
    <div class="scope">
      <h2>Descriere</h2>
      <p>Bun venit la Marketplace-ul nostru! Suntem o platformă inovatoare care incearca implementare unui Dataspace si posibilitatea aderari la platforma prin intermediu connectorilor. Platforma is propune si realizarea de ML direct din platforma pe datele deja achizitionate.</p></div>
      <div class="team">
        <h2>Cunoaste Echipa</h2>
        <ul>
          <li>Andrei Mihai-Alexandru</li>
          <li>Brumă Daniel</li>
          <li>Budău David</li>
          <li>Chiper Ştefan-Vasile</li>
          <li>Cristea Florinela</li>
          <li>Cucu Ioana-Antonia</li>
          <li>Dugan Tudor-Ioan</li>
          <li>Damian Maria-Otilia</li>
          <li>Dragomir Sergiu-Andrei</li>
          <li>Gavrilă Iulian-Gabriel</li>
          <li>Gribincea Valentina-Gabriela</li>
          <li>Grigorescu Ştefan</li>
          <li>Ioniţă Cezar-Ionuţ</li>
          <li>Iorga Bianca-Ștefania</li>
          <li>Istudor Cristian</li>
          <li>Jarcău Ștefan-Cristian</li>
          <li>Mărăcineanu Constantin</li>
          <li>Milea Daniel-Cristian</li>
          <li>Neagu Elena-Alexandra</li>
          <li>Oprea Ionuț-Alexandru</li>
          <li>Păltănea Auraş-Marian</li>
          <li>Păscociu Andreea-Violeta</li>
          <li>Pătraşcu Nicolae-Adrian</li>
          <li>Petreanu Marius</li>
          <li>Popa Ana-Maria</li>
          <li>Puia Mădălina</li>
          <li>Răulea Andrei</li>
          <li>Rusu Victor</li>
          <li>Spunei Răzvan-Sorin</li>
          <li>Solomon Andrei-Eduard</li>
          <li>Stănculescu Daniel</li>
          <li>Stoian Emanuel</li>
          <li>Suciu Mihai</li>
          <li>Trifan Ioan-Daniel</li>
          <li>Vâjâiac Andrei-Marius</li>
          <li>Vişan Alexandru-Marian</li>
          <li>Vişoiu Andrei</li>
          <li>Zotescu Teodor-Alex-Constantin</li>
        </ul>
      </div>
</div>