<div class="side_menu">
    <button (click)="navigateTo(0)"><img src="assets/icons/ilogo_ipad_black.png" id="logo-side" alt="Logo"></button>
    <button (click)="navigateTo(1)" [ngClass]="{active:activated_button === 1}" ><img src="assets/icons/view.svg"><span>View</span></button> 
    <button (click)="navigateTo(2)" [ngClass]="{active:activated_button === 2}" ><img src="assets/icons/Graph.svg"><span>Graphs</span></button>
    <button (click)="navigateTo(3)" [ngClass]="{active:activated_button === 3}" ><img src="assets/icons/upload.svg"><span>Upload</span></button>
    <button (click)="navigateTo(4)" [ngClass]="{active:activated_button === 4}" ><img src="assets/icons/ssettings.svg"><span>Settings</span></button>
</div> 