

.confirmed-card{
    width: 500px;
    height: 300px;
    padding:20px;
    margin: auto;
    margin-top:100px;
    background-color: rgb(208, 208, 208);
    border-radius: 10px;
}

.card-text{
    margin-top:80px;
}