
  <link rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  <div class="row">
      <div class="col-md-6">
    <div class="sign_in_pannel">
      <div class="logo">
          <img src="assets/logo_desktop_black.png" alt="Logo" id="agora-logo">
          <div class="page-title-header"><h1 style="color:var(--white)">IESC - Agora</h1></div>
      </div> 

    <div class="success-card-container">
        <h1>Succesful sign up!</h1>
        <h3>Check your email to validate your account.</h3>
        <img src="../../../assets/check-mark.gif" class="check-mark">
    </div>
    </div>
    </div>
  </div>
     